.dropzone p {
  font-size: 1.5rem;
  color: silver;
}
.dropzone input {
  display: none;
}

.dropzone mat-icon {
  color: #2096f3;
  font-size: 20rem;
  height: 50%;
  width:50%;
  cursor: pointer;
}
